.top {
    -fx-background-color: #1c034c;
    background-color: #1c034c;
    -fx-text-fill: white;
}

.bottom {
    -fx-background-color: #1c034c;
    background-color: #1c034c;
    -fx-text-fill: white;
}

.header {
    -fx-background-color: #34068a;
    background-color: #34068a;
    -fx-text-fill: white;
}

.title {
    -fx-fill: white;
    fill: white;
}

.menuButton {
    -fx-background-color: #1c034c;
    background-color: #1c034c;

    -fx-max-height: 60px;
    max-height: 60px;
}

.menuButton:hover {
    -fx-background-color: #34068a;
    background-color: #34068a;
    -fx-min-height: 80px;
    min-height: 80px;
    -fx-max-height: 80px;
    max-height: 80px;
}

.menuButton:hover .buttonImage {
    -fx-translate-y: -10px
}

.headerTitle {
    -fx-fill: white;
    fill: white;
}

.online {
    -fx-background-color: #b7db00;
    background-color: #b7db00;
    -fx-padding: 20px;
    padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
}

.notification {
    -fx-background-color: #dadada;
    background-color: #dadada;
    -fx-padding: 2px;
    padding: 2px;
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
}

.onlineUserName {
    -fx-font-size: 20;
    font-size: 20;
}


.chat {
    -fx-background-color: GRAY;
    background-color: GRAY;
}

.selected {
    -fx-background-color: GRAY;
    background-color: GRAY;
}

.selected:hover {
    -fx-background-color: GRAY;
    background-color: GRAY;
}

.text-field {
    -fx-background-color: #414346;
    background-color: #414346;
    -fx-font-size: 18;
    font-size: 18;
    -fx-border-width: 0 0 2 2;
    border-width: 0 0 2 2;
    -fx-border-color: #1c034c;
    border-color: #1c034c;
    -fx-text-fill: white;
}

.text-field:hover {
    -fx-background-color: #383a3d;
    background-color: #383a3d;
    -fx-border-width: 0 0 3 2;
    border-width: 0 0 3 2;
    -fx-font-size: 19;
    font-size: 19;
    -fx-border-color: #1c034c;
    border-color: #1c034c;
    -fx-text-fill: white;
}

.text-field:focused {
    -fx-background-color: #383a3d;
    background-color: #383a3d;
    -fx-border-width: 0 0 3 2;
    border-width: 0 0 3 2;
    -fx-font-size: 19;
    font-size: 19;
    -fx-border-color: #1c034c;
    border-color: #1c034c;
    -fx-text-fill: white;
}

.send {
    -fx-background-color: #34068a;
    background-color: #34068a;
    -fx-font-size: 18;
    font-size: 18;
    -fx-text-fill: white;
    -fx-cursor: hand;
    cursor: hand;
}

.send:hover {
    -fx-background-color: #30057e;
    background-color: #30057e;
    -fx-font-size: 18;
    font-size: 18;
    -fx-text-fill: white;
}

.ingame {
    -fx-background-color: #ffffff;
    background-color: #ffffff;
}

.gametext {
    -fx-margin: -10px;
    margin: -10px;
    -fx-font-size: 12;
    font-size: 12;
    -fx-font-weight: 800;
    font-weight: 800;
}