.settingsTitle {
    -fx-fill: white;
    fill: white;
    -fx-font-size: 28;
    font-size: 28;
    -fx-font-weight: 900;
    font-weight: 900;
}

.settingsText {
    -fx-fill: white;
    fill: white;
    -fx-font-size: 18;
    font-size: 18;
}

.deleteButton {
    -fx-background-color: #7e0505;
    background-color: #7e0505;
    -fx-font-size: 18;
    font-size: 18;
    -fx-text-fill: white;
    -fx-cursor: hand;
    cursor: hand;
}

.deleteButton:hover {
    -fx-background-color: #720505;
    background-color: #720505;
    -fx-font-size: 18;
    font-size: 18;
    -fx-text-fill: white;
}

.settings {
    -fx-background-color: GRAY;
    background-color: GRAY;
}

.changePasswordButton {
    -fx-background-color: #647e05;
    background-color: #647e05;
    -fx-font-size: 18;
    font-size: 18;
    -fx-text-fill: white;
    -fx-cursor: hand;
    cursor: hand;
}

.changePasswordButton:hover {
    -fx-background-color: #85c821;
    background-color: #85c821;
    -fx-font-size: 18;
    font-size: 18;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: gray;
    background-color: gray;
    -fx-font-size: 18;
    font-size: 18;
    -fx-border-width: 2 2 3 2;
    border-width: 2 2 3 2;
    -fx-border-color: #1c034c;
    border-color: #1c034c;
    -fx-text-fill: white;

    -fx-border-radius: 10 10 0 0;
    border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;

}

.text-field:hover {
    -fx-background-color: #383a3d;
    background-color: #383a3d;
    -fx-border-width: 2 2 3 2;
    border-width: 2 2 3 2;
    -fx-font-size: 19;
    font-size: 19;
    -fx-border-color: #1c034c;
    border-color: #1c034c;
    -fx-text-fill: white;
}

.text-field:focused {
    -fx-background-color: gray;
    background-color: gray;
    -fx-border-width: 2 2 3 2;
    border-width: 2 2 3 2;
    -fx-font-size: 19;
    font-size: 19;
    -fx-border-color: #1c034c;
    border-color: #1c034c;
    -fx-text-fill: white;
}

.password-field {
    -fx-background-color: gray;
    background-color: gray;
    -fx-font-size: 18;
    font-size: 18;
    -fx-border-width: 2 2 3 2;
    border-width: 2 2 3 2;
    -fx-border-color: #1c034c;
    border-color: #1c034c;
    -fx-text-fill: white;
}

.logoutButton {
    -fx-background-color: #505050;
    background-color: #505050;
    -fx-font-size: 18;
    font-size: 18;
    -fx-text-fill: white;
    -fx-cursor: hand;
    cursor: hand;
}

.logoutButton:hover {
    -fx-background-color: #414141;
    background-color: #414141;
    -fx-font-size: 18;
    font-size: 18;
    -fx-text-fill: white;
}